{% extends "homepage/base.html" %}

	{% block main %}
			<section id="hero_in" class="general" style="background: url(http://via.placeholder.com/1600x1067/ccc/fff/bg_general.jpg) center center no-repeat;">
				<div class="wrapper">
					<div class="container">
						<h1 class="fadeInUp"><span></span>Đổi Mật Khẩu</h1>
					</div>
				</div>
			</section>
			<!--/hero_in-->
			<div class="container margin_60_35">
				<div class="row">
					<aside class="col-lg-3" id="sidebar">
						<div class="profile" class="">
							<figure style="margin-left: 2px" ><img src="{{account.avatar}}" alt="Teacher" class="rounded-circle" style="width: 200px;height: 200px;"></figure>
							
							<ul class="social_teacher">
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-email"></i></a></li>
							</ul>
							<ul>
								<li>Tên Tài Khoản <span class="float-right">{{account.username}}</span> </li>
							</ul>
						</div>
					</aside>
					<!--/aside -->

					<div class="col-lg-9">
						<div class="box_teacher">
							<div class="indent_title_in">
								<i class="pe-7s-user"></i>
									<h3>Thông Tin</h3>
								<p>Chi tiết về tài khoản của bạn</p>
							</div>
							<div class="wrapper_indent">
								<form autocomplete="off" style="margin-right: 200px" method="POST">
									{% csrf_token %}
									<div class="form-group">
										{% for message in messages %}
										<div class="alert alert-success" style="color: #f8f9fa; background-color: #dc3545;">
											<a class="close" data-dismiss="alert">×</a>
												{{ message }}
										</div>
										{% endfor %}
										<span class="input">
											<input name="oldpass" class="input_field" type="password">
											<label class="input_label">
												<span class="input__label-content">Mật Khẩu Cũ<b style="color: #fd2828;font-size: 14pt">*</b></span>
											</label>
										</span>

										<span class="input">
											<input name="newpass1" class="input_field" type="password">
											<label class="input_label">
												<span class="input__label-content">Mật Khẩu Mới<b style="color: #fd2828;font-size: 14pt">*</b></span>
											</label>
										</span>

										<span class="input">
											<input name="newpass2" class="input_field" type="password" id="password1">
											<label class="input_label">
												<span class="input__label-content">Xác Nhận Mật Khẩu Mới<b style="color: #fd2828;font-size: 14pt">*</b></span>
											</label>
										</span>
										<a  class="icon-eye-7" onclick="showpass()" id="show" style="display: show;font-size: 9pt;color:dodgerblue;padding-left:393px;">Show password</a>
										<a  class="icon-eye-off-1" onclick="hidepass()" id="hide" style="display: none;font-size: 9pt;color:dodgerblue;padding-left:393px">Hide password</a>
										<br>
										<script language="javascript">
												var check = 0;
												var pass = document.getElementById("password1");
												var show=document.getElementById("show");
												var hide=document.getElementById("hide");
												 function showpass(){
													pass.type="text";
													show.style.display = "none";
													hide.style.display = "inline";
												};
												function hidepass(){
													pass.type="password";
													show.style.display = "inline";
													hide.style.display = "none";
												};
										</script>
										
										<div style="padding-left:32px;padding-top: 25px;" align="center">
											<button type="file" name="" href="" class="btn_1 rounded full-width add_top_30" style="width: 180px;background-color: #3f9fff">Lưu Lại </button>
										</div>
										<div id="pass-info" class="clearfix"></div>
									</div>

								</form>

								<!-- End row-->
							</div>
							<!--wrapper_indent -->

						</div>
						<!-- /col -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			{% comment %} </main> {% endcomment %}
			{% endblock %}
			<!--/main-->