{% extends "homepage/base.html" %}
{% load static %}
{% block main %}
		<section id="hero_in" class="general" style="background: url('/media/bia04_moitruongchiaseduan.png');background-repeat: no-repeat;background-position: center;background-size: cover;">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp" style="font-family: Arial, Helvetica, sans-serif"><span></span>Sơ Đồ Hệ Thống</h1>
				</div>
			</div>
		</section>


		<div class="bg_color_1" style="font-family:Arial">
			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2 style="text-align:center;font-family: Arial, Helvetica, sans-serif">Sơ Đồ</h2>
					<p style="text-align:center font-family: Arial, Helvetica, sans-serif">Hệ Thống Dạy Học Lập Trình Trực Quan VS-Pro</p>
				</div>
				<div class="row justify-content-between">
					<div class="box_cart" style="padding-left:5%; padding-right:5%;width:100%">
						<section id="web-application">
								<img src="/media/sitemap.png"  style="height:100%;width:100%" >

						</section>
					</div></div><br><br><br>
					<div class="main_title_2">
					<span><em></em></span>
						<h2 style="text-align:center;font-family: Arial, Helvetica, sans-serif">Giới Thiệu Chung</h2>
						<p style="text-align:center font-family: Arial, Helvetica, sans-serif">Hệ Thống Dạy Học Lập Trình Trực Quan VS-Pro</p>
					</div>
					<div class="box_cart" style="padding-left:5%; padding-right:5%;width:100%;color:#130d07;font-size:11pt">
						<p style="text-align:justify"><span style="color:#cc6699; font-size:12pt"><strong>PHẦN GIỚI THIỆU:</strong></span> khi tiếp cận đến một trang web, phần giới thiệu l&agrave; một trong những phần quan trọng nhất. Phần n&agrave;y sẽ hỗ trợ v&agrave; gi&uacute;p người d&ugrave;ng hiểu về trang web của VS-Pro. Th&ocirc;ng qua phần giới thiệu, người d&ugrave;ng sẽ được t&igrave;m hiểu về c&aacute;c mục như <strong>Tổng quan, Sứ mệnh, Đội ngũ v&agrave; Về ch&uacute;ng t&ocirc;i</strong><br />
							<strong>&nbsp;&nbsp; - Tổng quan:</strong> l&agrave; nơi để người d&ugrave;ng c&oacute; c&aacute;i nh&igrave;n tổng quan về trang web, nơi người d&ugrave;ng c&oacute; thể t&igrave;m hiểu th&ecirc;m về một số tin tức thuộc một số lĩnh vực trong ng&agrave;nh gi&aacute;o dục như Định hướng gi&aacute;o dục STEM, Dạy học lập tr&igrave;nh trực quan, Ứng dụng thực tế phương ph&aacute;p, &hellip;<br />
							<strong>&nbsp;&nbsp; - Sứ mệnh:</strong> l&agrave; nơi để người d&ugrave;ng c&oacute; thể hiểu r&otilde; về t&acirc;m huyết x&acirc;y dựng trang web v&agrave; những lợi &iacute;ch do VS-Pro mang lại. Qua VS-Pro, ch&uacute;ng t&ocirc;i muốn thể hiện tầm nh&igrave;n, sứ mệnh, chiến lược ph&aacute;t triển m&agrave; VS-Pro muốn hướng tới.<br />
							<strong>&nbsp;&nbsp; - Chuy&ecirc;n gia:</strong> VS-PRO LEARING SYSTEM ph&aacute;t triển ổn định v&agrave; đạt được nhiều th&agrave;nh tựu vượt bậc như hiện tại kh&ocirc;ng chỉ l&agrave; kết quả của qu&aacute; tr&igrave;nh l&agrave;m việc năng động, s&aacute;ng tạo v&agrave; t&acirc;m huyết của nh&oacute;m sinh vi&ecirc;n ch&uacute;ng t&ocirc;i m&agrave; c&ograve;n l&agrave; th&agrave;nh quả từ sự hỗ trợ đắc lực của đội ngũ chuy&ecirc;n gia ph&aacute;t triển c&oacute; năng lực v&agrave; tinh thần tr&aacute;ch nhiệm cao đến từ Trung T&acirc;m Tin Học (TTTH) của trường Đại học Sư Phạm TPHCM.<br />
							<strong>&nbsp;&nbsp; - Về ch&uacute;ng t&ocirc;i:</strong> Ch&uacute;ng t&ocirc;i l&agrave; nh&oacute;m bao gồm 6 sinh vi&ecirc;n kh&oacute;a 41 ng&agrave;nh Sư phạm Tin học trực thuộc khoa CNTT trường đại học Sư Phạm TP.HCM. VS-Pro Learning System ra đời với vai tr&ograve; l&agrave; sản phẩm của Kh&oacute;a Luận Tốt Nghiệp được ch&uacute;ng t&ocirc;i thực hiện bằng tất cả những kiến thức, kỹ năng v&agrave; hiểu biết trong suốt qu&aacute; tr&igrave;nh gần 4 năm theo học tại trường.<br />
							<br />
							<span style="color:#cc6699; font-size:12pt"><strong>PHẦN TYNKER:</strong></span> đối với trang web VS-Pro th&igrave; Tynker l&agrave; một trong ba kh&oacute;a học được đầu tư v&agrave; x&acirc;y dựng kĩ lưỡng từ đội ngũ của VS-Pro. Với nội dung được nghi&ecirc;n cứu v&agrave; bi&ecirc;n soạn dựa theo gi&aacute;o tr&igrave;nh bản quyền của Mỹ. Đối với Tynker, l&agrave; m&ocirc;n học lập tr&igrave;nh k&eacute;o-thả trực quan d&agrave;nh cho c&aacute;c bạn nhỏ c&oacute; đam m&ecirc; về lập tr&igrave;nh, c&oacute; độ tuổi từ 8 &ndash; 11 tuổi. Th&ocirc;ng qua ph&acirc;n hệ Tynker, người d&ugrave;ng sẽ t&igrave;m hiểu c&aacute;c mục quan trọng sau đ&acirc;y: <strong>Giới thiệu, B&agrave;i học, Tr&ograve; chơi, Dự &aacute;n, Cuộc thi, Diễn đ&agrave;n.</strong><br />
							<strong>&nbsp;&nbsp; - Giới thiệu:</strong> phần gi&uacute;p c&aacute;c bạn c&oacute; c&aacute;i nh&igrave;n tổng quan về ph&acirc;n hệ Tynker. Đối với phần giới thiệu, c&aacute;c bạn sẽ được t&oacute;m tắt ngắn gọn v&agrave; s&uacute;c t&iacute;ch c&aacute;c nội dung kiến thức cần thiết v&agrave; quan trọng m&agrave; c&aacute;c bạn sẽ được học trong kh&oacute;a học.<br />
							<strong>&nbsp;&nbsp; - B&agrave;i học:</strong> phần n&agrave;y l&agrave; nơi tr&igrave;nh b&agrave;y c&aacute;c nội dung b&agrave;i học của kh&oacute;a học, b&ecirc;n cạnh đ&oacute;, c&aacute;c bạn c&ograve;n được trải nghiệm th&ecirc;m nhiều hoạt động hấp dẫn &ndash; th&uacute; vị gi&uacute;p việc tiếp thu kiến thức của bạn kh&ocirc;ng qu&aacute; nh&agrave;m ch&aacute;n như hoạt động xem video, hoạt động tương t&aacute;c với b&agrave;i học, &hellip; v&agrave; c&ograve;n nhiều hoạt động kh&aacute;c.<br />
							<strong>&nbsp;&nbsp; - Tr&ograve; chơi:</strong> khi c&aacute;c bạn đ&atilde; ho&agrave;n th&agrave;nh xong qu&aacute; tr&igrave;nh tiếp thu kiến thức, th&igrave; Tr&ograve; chơi l&agrave; nơi gi&uacute;p c&aacute;c bạn thư gi&atilde;n đồng thời gi&uacute;p c&aacute;c bạn &ocirc;n lại kiến thức th&ocirc;ng quan một số tr&ograve; chơi được soạn sẵn bởi đội ngũ của VS-Pro. Với h&igrave;nh thức đa dạng phong ph&uacute; về Tr&ograve; chơi, phần n&atilde;y sẽ l&agrave; phần thu h&uacute;t sự ch&uacute; &yacute; của người d&ugrave;ng nhất.<br />
							<strong>&nbsp;&nbsp; - Dự &aacute;n:</strong> để gi&uacute;p c&aacute;c bạn tự tin v&agrave; thể hiện sự s&aacute;ng tạo trong việc tạo ra một số dự &aacute;n cho ri&ecirc;ng bản dựa tr&ecirc;n hướng dẫn v&agrave; dự &aacute;n mẫu được nghi&ecirc;n cứu v&agrave; bi&ecirc;n soạn bở đội ngũ VS-Pro.<br />
							<strong>&nbsp;&nbsp; - Cuộc thi:</strong> cuộc thi l&agrave; nơi tạo ra một s&acirc;n chơi l&agrave;nh mạnh v&agrave; vui vẻ, nhằm gi&uacute;p c&aacute;c bạn c&oacute; cơ hội được trao đổi kiến thức cho nhau, cũng như gi&uacute;p tạo ra sự cạnh tranh l&agrave;nh mạnh giữa c&aacute;c bạn với nhau. Với cuộc thi, c&aacute;c bạn sẽ phải giải quyết b&agrave;i to&agrave;n được đặt ra sẵn.<br />
							<strong>&nbsp;&nbsp; - Diễn đ&agrave;n:</strong> trong qu&aacute; tr&igrave;nh tiếp thu kiến thức, hoặc cuộc thi hoặc c&aacute;c vấn đề kh&aacute;c trong từng kh&oacute;a học, người d&ugrave;ng c&oacute; thể nhắn tin hỏi trực tiếp đội ngũ của VS-Pro. Với VS-Pro, c&aacute;c &yacute; kiến của người d&ugrave;ng g&oacute;p phần cải thiện hơn về mặt nội dung của từng kh&oacute;a học.<br />
							<br />
							<span style="color:#cc6699; font-size:12pt"><strong>PHẦN ALICE3D:</strong></span> Alice l&agrave; mội trường gi&uacute;p lập tr&igrave;nh trực quan hướng đối tượng dưới dạng 3D. Hiện nay, Alice l&agrave; đang được học, nghi&ecirc;n cứu v&agrave; ph&aacute;t triển tại trường đại học Carnegie Mellon University. Đối với Alice3D, l&agrave; m&ocirc;n học lập tr&igrave;nh trực quan hướng đối tượng dưới dạng 3D d&agrave;nh cho c&aacute;c bạn c&oacute; đam m&ecirc; về lập tr&igrave;nh, c&oacute; độ tuổi từ 12 &ndash; 16 tuổi. Th&ocirc;ng qua ph&acirc;n hệ Alice3D, người d&ugrave;ng sẽ t&igrave;m hiểu c&aacute;c mục quan trọng sau đ&acirc;y: <strong>Giới thiệu, B&agrave;i học, Tr&ograve; chơi, Dự &aacute;n, Cuộc thi, Diễn đ&agrave;n</strong><br />
							<strong>&nbsp;&nbsp; - Giới thiệu:</strong> phần gi&uacute;p c&aacute;c bạn c&oacute; c&aacute;i nh&igrave;n tổng quan về ph&acirc;n hệ Alice. Đối với phần giới thiệu, c&aacute;c bạn sẽ được t&oacute;m tắt ngắn gọn v&agrave; s&uacute;c t&iacute;ch c&aacute;c nội dung kiến thức cần thiết v&agrave; quan trọng m&agrave; c&aacute;c bạn sẽ được học trong kh&oacute;a học.<br />
							<strong>&nbsp;&nbsp; - B&agrave;i học:</strong> phần n&agrave;y l&agrave; nơi tr&igrave;nh b&agrave;y c&aacute;c nội dung b&agrave;i học của kh&oacute;a học, b&ecirc;n cạnh đ&oacute;, c&aacute;c bạn c&ograve;n được trải nghiệm th&ecirc;m nhiều hoạt động hấp dẫn &ndash; th&uacute; vị gi&uacute;p việc tiếp thu kiến thức của bạn kh&ocirc;ng qu&aacute; nh&agrave;m ch&aacute;n như hoạt động xem video, hoạt động tương t&aacute;c với b&agrave;i học, &hellip; v&agrave; c&ograve;n nhiều hoạt động kh&aacute;c.<br />
							<strong>&nbsp;&nbsp; - Tr&ograve; chơi:</strong> khi c&aacute;c bạn đ&atilde; ho&agrave;n th&agrave;nh xong qu&aacute; tr&igrave;nh tiếp thu kiến thức, th&igrave; Tr&ograve; chơi l&agrave; nơi gi&uacute;p c&aacute;c bạn thư gi&atilde;n đồng thời gi&uacute;p c&aacute;c bạn &ocirc;n lại kiến thức th&ocirc;ng quan một số tr&ograve; chơi được soạn sẵn bởi đội ngũ của VS-Pro. Với h&igrave;nh thức đa dạng phong ph&uacute; về Tr&ograve; chơi, phần n&atilde;y sẽ l&agrave; phần thu h&uacute;t sự ch&uacute; &yacute; của người d&ugrave;ng nhất.<br />
							<strong>&nbsp;&nbsp; - Dự &aacute;n:</strong> để gi&uacute;p c&aacute;c bạn tự tin v&agrave; thể hiện sự s&aacute;ng tạo trong việc tạo ra một số dự &aacute;n cho ri&ecirc;ng bản dựa tr&ecirc;n hướng dẫn v&agrave; dự &aacute;n mẫu được nghi&ecirc;n cứu v&agrave; bi&ecirc;n soạn bở đội ngũ VS-Pro.<br />
							<strong>&nbsp;&nbsp; - Cuộc thi:</strong> cuộc thi l&agrave; nơi tạo ra một s&acirc;n chơi l&agrave;nh mạnh v&agrave; vui vẻ, nhằm gi&uacute;p c&aacute;c bạn c&oacute; cơ hội được trao đổi kiến thức cho nhau, cũng như gi&uacute;p tạo ra sự cạnh tranh l&agrave;nh mạnh giữa c&aacute;c bạn với nhau. Với cuộc thi, c&aacute;c bạn sẽ phải giải quyết b&agrave;i to&agrave;n được đặt ra sẵn.<br />
							<strong>&nbsp;&nbsp; - Diễn đ&agrave;n:</strong> trong qu&aacute; tr&igrave;nh tiếp thu kiến thức, hoặc cuộc thi hoặc c&aacute;c vấn đề kh&aacute;c trong từng kh&oacute;a học, người d&ugrave;ng c&oacute; thể nhắn tin hỏi trực tiếp đội ngũ của VS-Pro. Với VS-Pro, c&aacute;c &yacute; kiến của người d&ugrave;ng g&oacute;p phần cải thiện hơn về mặt nội dung của từng kh&oacute;a học.<br />
							<br />
							<span style="color:#cc6699; font-size:12pt"><strong>PHẦN ARDUINO:</strong></span> Ch&agrave;o mừng bạn đ&atilde; đến với chuy&ecirc;n đề học tập trực tuyến của ch&uacute;ng t&ocirc;i. ARDUINO &ndash; COMBO KỲ DIỆU hứa hẹn sẽ trở th&agrave;nh một nơi l&yacute; tưởng để những bạn c&oacute; niềm đam m&ecirc; kh&aacute;m ph&aacute; thế giới lập tr&igrave;nh phần cứng được tự do học tập, vui chơi v&agrave; th&otilde;a sức tạo n&ecirc;n những điều tuyệt vời nhất từ ch&iacute;nh c&aacute;c bạn. Đối với Arduino, l&agrave; m&ocirc;n học lập tr&igrave;nh hứa hẹn sẽ mang lại nhiều bất ngờ, hấp dẫn v&agrave; th&uacute; vị d&agrave;nh cho c&aacute;c bạn c&oacute; đam m&ecirc; về lập tr&igrave;nh, c&oacute; độ tuổi từ 16 &ndash; 18 tuổi. Th&ocirc;ng qua ph&acirc;n hệ Arduino, người d&ugrave;ng sẽ t&igrave;m hiểu c&aacute;c mục quan trọng sau đ&acirc;y:<strong> Giới thiệu, B&agrave;i học, Tr&ograve; chơi, Dự &aacute;n, Cuộc thi, Diễn đ&agrave;n</strong><br />
							<strong>&nbsp;&nbsp; - Giới thiệu:</strong> phần gi&uacute;p c&aacute;c bạn c&oacute; c&aacute;i nh&igrave;n tổng quan về ph&acirc;n hệ Arduino. Đối với phần giới thiệu, c&aacute;c bạn sẽ được t&oacute;m tắt ngắn gọn v&agrave; s&uacute;c t&iacute;ch c&aacute;c nội dung kiến thức cần thiết v&agrave; quan trọng m&agrave; c&aacute;c bạn sẽ được học trong kh&oacute;a học.<br />
							<strong>&nbsp;&nbsp; - B&agrave;i học:</strong> phần n&agrave;y l&agrave; nơi tr&igrave;nh b&agrave;y c&aacute;c nội dung b&agrave;i học của kh&oacute;a học, b&ecirc;n cạnh đ&oacute;, c&aacute;c bạn c&ograve;n được trải nghiệm th&ecirc;m nhiều hoạt động hấp dẫn &ndash; th&uacute; vị gi&uacute;p việc tiếp thu kiến thức của bạn kh&ocirc;ng qu&aacute; nh&agrave;m ch&aacute;n như hoạt động xem video, hoạt động tương t&aacute;c với b&agrave;i học, &hellip; v&agrave; c&ograve;n nhiều hoạt động kh&aacute;c.<br />
							<strong>&nbsp;&nbsp; - Tr&ograve; chơi:</strong> khi c&aacute;c bạn đ&atilde; ho&agrave;n th&agrave;nh xong qu&aacute; tr&igrave;nh tiếp thu kiến thức, th&igrave; Tr&ograve; chơi l&agrave; nơi gi&uacute;p c&aacute;c bạn thư gi&atilde;n đồng thời gi&uacute;p c&aacute;c bạn &ocirc;n lại kiến thức th&ocirc;ng quan một số tr&ograve; chơi được soạn sẵn bởi đội ngũ của VS-Pro. Với h&igrave;nh thức đa dạng phong ph&uacute; về Tr&ograve; chơi, phần n&atilde;y sẽ l&agrave; phần thu h&uacute;t sự ch&uacute; &yacute; của người d&ugrave;ng nhất.<br />
							<strong>&nbsp;&nbsp; - Dự &aacute;n:</strong> để gi&uacute;p c&aacute;c bạn tự tin v&agrave; thể hiện sự s&aacute;ng tạo trong việc tạo ra một số dự &aacute;n cho ri&ecirc;ng bản dựa tr&ecirc;n hướng dẫn v&agrave; dự &aacute;n mẫu được nghi&ecirc;n cứu v&agrave; bi&ecirc;n soạn bở đội ngũ VS-Pro.<br />
							<strong>&nbsp;&nbsp; - Cuộc thi:</strong> cuộc thi l&agrave; nơi tạo ra một s&acirc;n chơi l&agrave;nh mạnh v&agrave; vui vẻ, nhằm gi&uacute;p c&aacute;c bạn c&oacute; cơ hội được trao đổi kiến thức cho nhau, cũng như gi&uacute;p tạo ra sự cạnh tranh l&agrave;nh mạnh giữa c&aacute;c bạn với nhau. Với cuộc thi, c&aacute;c bạn sẽ phải giải quyết b&agrave;i to&agrave;n được đặt ra sẵn.<br />
							<strong>&nbsp;&nbsp; - Diễn đ&agrave;n:</strong> trong qu&aacute; tr&igrave;nh tiếp thu kiến thức, hoặc cuộc thi hoặc c&aacute;c vấn đề kh&aacute;c trong từng kh&oacute;a học, người d&ugrave;ng c&oacute; thể nhắn tin hỏi trực tiếp đội ngũ của VS-Pro. Với VS-Pro, c&aacute;c &yacute; kiến của người d&ugrave;ng g&oacute;p phần cải thiện hơn về mặt nội dung của từng kh&oacute;a học.<br />
							<br />
							<span style="color:#cc6699; font-size:12pt"><strong>PHẦN KH&Oacute;A HỌC:</strong></span> kh&oacute;a học l&agrave; nơi gi&uacute;p c&aacute;c bạn c&oacute; thể t&igrave;m hiểu th&ecirc;m về những kh&oacute;a học kh&aacute;c, ngo&agrave;i ba kh&oacute;a học ch&iacute;nh l&agrave; Tynker, Alice3D, Arduino. Với kh&oacute;a học, người sẽ c&oacute; nhiều cơ hội tiếp thu c&aacute;c nội dung kiến thức kh&aacute;c ở nhiều lĩnh vực hoặc bộ m&ocirc;n kh&aacute;c. Phần n&agrave;y sẽ rất c&oacute; hữu &iacute;ch cho người d&ugrave;ng, v&igrave; b&ecirc;n cạnh học được kh&oacute;a học ban đầu, người d&ugrave;ng c&oacute; thể học th&ecirc;m một số kh&oacute;a học kh&aacute;c<br />
							<br />
							<span style="color:#cc6699; font-size:12pt"><strong>PHẦN CUỘC THI:</strong></span> cuộc thi l&agrave; nơi tạo ra một s&acirc;n chơi l&agrave;nh mạnh v&agrave; vui vẻ, nhằm gi&uacute;p c&aacute;c bạn c&oacute; cơ hội được trao đổi kiến thức cho nhau, cũng như gi&uacute;p tạo ra sự cạnh tranh l&agrave;nh mạnh giữa c&aacute;c bạn với nhau. Với cuộc thi, c&aacute;c bạn sẽ phải giải quyết b&agrave;i to&agrave;n được đặt ra sẵn. C&aacute;c bạn c&oacute; thể trổ t&agrave;i của m&igrave;nh để tham một trong c&aacute;c kh&oacute;a học tại VS-Pro, hoặc c&oacute; thể tham gia tất cả c&aacute;c kh&oacute;a học nếu c&aacute;c bạn tin v&agrave;o bản th&acirc;n.<br />
							<br />
							<span style="color:#cc6699; font-size:12pt"><strong>PHẦN HỎI Đ&Aacute;P:</strong></span> trong qu&aacute; tr&igrave;nh tiếp thu kiến thức, hoặc cuộc thi hoặc c&aacute;c vấn đề kh&aacute;c trong từng kh&oacute;a học, người d&ugrave;ng c&oacute; thể nhắn tin hỏi trực tiếp đội ngũ của VS-Pro. Với VS-Pro, c&aacute;c &yacute; kiến của người d&ugrave;ng g&oacute;p phần cải thiện hơn về mặt nội dung của từng kh&oacute;a học.<br />
							&nbsp;&nbsp; - B&agrave;i viết chia sẻ<br />
							&nbsp;&nbsp; - Hỏi đ&aacute;p chuy&ecirc;n gia<br />
							&nbsp;&nbsp; - Kết nối cộng đồng<br />
							<br />
							<span style="color:#cc6699; font-size:12pt"><strong>PHẦN HỖ TRỢ:</strong></span><br />
							&nbsp;&nbsp; - Sơ đồ hệ thống<br />
							&nbsp;&nbsp; - Hướng dẫn<br />
							&nbsp;&nbsp; - Li&ecirc;n hệ</p>
							
					</div>
				</div>
				<!--/row-->
			</div>







			
			<!--/container-->
		</div>
		<!--/bg_color_1-->
		
		<!--/hero_in-->

		
		<!-- /container -->

		



		</div>

		
		<!--/bg_color_1-->

		
		<!--/container-->

		
	{% endblock%}
	<!--/main-->
	